
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="panel-title">
                Gestion des Recruteurs
            </div>
        </div>


            <div class="panel-body">

                <div class="form-group">
                    <input type="submit" name="submit" value="Ajouter un Recruteur" ng-click="formAjouterRec()" class="btn btn-success" style="float: right; width:200px">

                </div>
                <!--      ************ Formulaire modification recruteur *******         -->
                <form role="form" method="post" class="validate" ng-show="myFormModif">

                    <div class="form-group">
                        <label class="control-label"> Login:</label>

                        <input type="text" class="form-control" name="login" data-validate="required" ng-model="re.login" data-message-required="Ce champs est obligatoire." />
</div>
                    <div class="form-group">
                        <label class="control-label"> Mot de passe :</label>


                        <input type="text" class="form-control" name="password" ng-model="re.password" data-validate="required" data-message-required="Ce champs est obligatoire." />

                    </div>

                    <div class="form-group">
                        <label class="control-label"> Nom Recruteur :</label>

                        <input type="text" class="form-control" name="nomRecruteur" ng-model="re.nomRecruteur" data-validate="required" data-message-required="Ce champs est obligatoire."  />

                    </div>

                    <div class="form-group">
                        <label class="control-label"> Service :</label>

                        <input type="text" class="form-control" name="serviceRecruteur" ng-model="re.serviceRecruteur" data-validate="required" data-message-required="Ce champs est obligatoire." />

                    </div>


                    <div class="form-group">
                        <input type="submit" name="submit" value="Modifier" ng-click="modifier(re)" class="btn btn-success">
                    </div>
                    <h3>{{msg}}</h3>

                </form>

                <!--      ************ Formulaire D'ajout recruteur *******         -->
                <form role="form" method="post" class="validate" ng-show="myForm">

                    <div class="form-group">
                        <label class="control-label"> Login:</label>

                        <input type="text" class="form-control" name="login" data-validate="required" ng-model="per.login" data-message-required="Ce champs est obligatoire." placeholder="Login" />
</div>
                    <div class="form-group">
                        <label class="control-label"> Mot de passe :</label>
                        <input type="text" class="form-control" name="password" ng-model="per.password" data-validate="required" data-message-required="Ce champs est obligatoire." placeholder="Mot de passe" />

                    </div>

                    <div class="form-group">
                        <label class="control-label"> Nom Recruteur :</label>

                        <input type="text" class="form-control" name="nomRecruteur" ng-model="per.nomRecruteur" data-validate="required" data-message-required="Ce champs est obligatoire." placeholder="Nom Recruteur" />

                    </div>

                    <div class="form-group">
                        <label class="control-label"> Service :</label>

                        <input type="text" class="form-control" name="serviceRecruteur" ng-model="per.serviceRecruteur" data-validate="required" data-message-required="Ce champs est obligatoire." placeholder="Service Recruteur" />

                    </div>


                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" value="Ajouter" ng-click="ajouterRec(per)" class="btn btn-success">
                        <button type="reset" class="btn btn-white">Reset</button>
                    </div>
                    <h3>{{msg}}</h3>

                </form>


                        <table class="table table-bordered table-striped" id="example-2">
                            <thead>
                            <tr>

                                <th>Nom Recruteur</th>
                                <th>Login</th>
                                <th>Service</th>

                            </tr>
                            </thead>

                            <tbody class="middle-align" >

                            <tr ng-repeat="re in rec" >
                                <td>{{re.nomRecruteur}}</td>
                                <td>{{re.login}}</td>
                                <td>{{re.serviceRecruteur}}</td>
                                <td>
                                   <button type="button" class="btn btn-secondary btn-sm btn-icon icon-left" ng-click="formModifierRec(re)">
                                        Modifier
                                    </button>
                                    <!--<button type="button" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="supprimerRec(re)">
                                        Supprimer
                                    </button> -->

                                    <button type="button" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="confirmClick('Vous voulez vraiment supprimer le recruteur'+ re.nomRecruteur +' ?') && supprimerRec(re)" confirm-click>
                                                                            Supprimer
                                                                        </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
    </div>

</div>


